{% extends "layoutleft.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="item-top">
    <h2>About</h2>
    <a href="#" class="button">Logout</a>
</div>
<div class="item-main">
    <div>
        Học viện Kỹ thuật Mật mã (tiếng Anh: Vietnam Academy of Cryptography Techniques) là một trường đại học công lập
        trực thuộc Ban Cơ yếu Chính phủ, được thành lập ngày 17 tháng 2 năm 1995 có chức năng đào tạo cán bộ có trình độ
        đại học, sau đại học và nghiên cứu khoa học kỹ thuật mật mã của ngành Cơ yếu Việt Nam. Học viện cũng được chính
        phủ Việt Nam lựa chọn là một trong tám cơ sở trọng điểm đào tạo nhân lực an toàn thông tin Việt Nam theo Đề án
        đào tạo và phát triển nguồn nhân lực an toàn, an ninh thông tin đến năm 2025
    </div>
</div>
{% endblock %}