{% extends "layout.html" %}
{% block title %}FIND INFO {% endblock %}

{% block content %}
<div style="display: flex; justify-content: space-between;">
    <h2>Here is your require information</h2>
</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Họ tên</th>
                <th scope="col">Số điện thoại</th>
            </tr>
        </thead>
        <tbody>
            {% for row in records %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.phone }}</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
{% endblock %}