<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  <div class="flex-container">
    <div class="sidebar">
      <nav class="nav">
        <ul>
          <li class="active"><a href="#">About</a></li>
          <li><a href="#">List</a></li>
        </ul>
      </nav>
    </div>
    <div class="item">
      {% block content %} {% endblock %}
    </div>
  </div>
</body>

</html>